header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: white;
  color: black;
  border-bottom: 1px solid var(--light-gray);
  height: var(--header-height);
}

.search-input {
  border: 1px solid var(--light-gray);
  padding: 14px 47px 14px 20px;
  border-radius: var(--default-border-radius);
  outline: none;
  width: 100%;
}

@media (min-width: 992px) {
  .search__wrapper {
    width: 50%;
  }
}

.search-input:focus {
  border-color: var(--gray);
}

.search-input::placeholder {
  color: darkgray;
}

.search__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.SearchIcon {
  height: 15px;
  fill: var(--gray);
  transition: fill 0.3s ease-in-out;
}

.search__button {
  position: absolute;
  right: 0;
  height: 47px;
  width: 47px;
  background-color: transparent;
  border: 0;
  border-radius: 8px;
  padding: 0;
}

.search__button:hover .SearchIcon,
.search__button:focus .SearchIcon {
  fill: #737373;
}