header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: white;
  color: black;
  border-bottom: 1px solid var(--light-gray);
  height: var(--header-height);
}