table.RepoList {
  width: 100%;
  border-spacing: 0px 10px;
  margin-bottom: 30px;
}

.RepoList th,
.RepoList td {
  padding: 25px 20px;
  color: var(--gray);
  font-weight: 600;
  border: 1px solid var(--light-gray);
  border-left-width: 0;
  border-right-width: 0;
}

.RepoList th {
  padding: 15px 20px;
  font-size: 0.9rem;
  text-align: left;
}

.RepoList td {
  color: var(--dark-gray);
  cursor: pointer;
}

.RepoList tr:hover td {
  border-color: var(--gray);
}

.RepoList th:first-child,
.RepoList td:first-child {
  border-left-width: 1px;
  border-top-left-radius: var(--default-border-radius);
  border-bottom-left-radius: var(--default-border-radius);
}

.RepoList th:last-child,
.RepoList td:last-child {
  border-right-width: 1px;
  border-top-right-radius: var(--default-border-radius);
  border-bottom-right-radius: var(--default-border-radius);
}

.RepoList strong {
  color: black;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}
